.item-image {
    width: 200px;
    height: 200px;
}
  
.table-container {
    border-radius: 5px;
    box-shadow: 8px 10px 15px -2px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 8px 10px 15px -2px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 8px 10px 15px -2px rgba(0, 0, 0, 0.29);
    transition: transform 0.3s;
}
  
.table-container:hover {
    transform: scale(1.1) rotate(2deg);
}
  
.title {
    padding-left: 10px;
}
  
.info {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
 