header{
    height: 10%;
    width: 100%;
    /* background: linear-gradient(10deg, #E4F4FF, #E0F6FF, #D2E5FC), #FFF; */
}
main{
    height: 80vh;
    width: 100%;
    /* background: linear-gradient(10deg, #E4F4FF, #E0F6FF, #D2E5FC), #FFF; */
}